@import '../../scss/index.scss';

.header {
  background-color: transparent;
  display: flex;
  padding: 0 3.2rem;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  width: 100%;

  @include tablet {
    border-bottom: 0.2rem solid #e7e7e7;
    padding: 0 2.4rem;
  }

  @include mobile {
    padding: 0 1.6rem;
    height: 4.8rem;
  }

  .logo-mobile {
    display: none;
    @include tablet {
      @include icon('logo',$primary);
      display: inline-block;
      height: 4rem;
      width: 11.2rem;
    }

    @include mobile {
      height: 3.2rem;
    }
  }

  &__Burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.6rem;
    width: 2rem;

    & > span {
      background-color: $primary;
      border-radius: 4rem;
      height: 0.2rem;
      width: 100%;
    }

    &:hover {
      background-color: $grey-lite;
      cursor: pointer;
    }

    @include tablet {
      display: flex;
    }

    &.unLogged {
      display: none;
    }
  }
}
